@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	
}

header {padding: 20px;}

h1 {
	width: 100%;
	font-size: 6em;
	font-weight: 600;
	line-height: .9;
	color: #000;
	position: absolute;
	top: 50%;
	bottom: 0;
	}

.symbol {
	color: #fff;
	font-size: 6em;
}

span.red {color: #8e1001;}


h3, h4 {
	color: #8e1001;
	font-weight: 600;
	}

p {line-height: 1.4;}

.hero {
	background-image: url('../images/hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
	border-top: 4px solid #8e1001;
	}

	
.dashboard {
	background-color: #8e1001;
	color: #fff;
}	
	
.callout {
	background-color: #8e1001;
	color: #fff;	
	margin: 0 auto;
}